body, div nav ul {
	margin: 0;
	padding: 0;
}
header {
height: 100px;
background-color: #CCC;
}
.wrap {
	margin: 0 auto;
	padding: 0;
	width: 100%; 
	position: relative;
}
header > div > img {
	height: 30px;
	position: absolute;
	left: 20px;
	top: 35px;
	display: none;
}
div > a > img {
	height: 100px;
	float: right;
	position: absolute;
	right: 5%;
}
div nav {
	position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 25px;
}
div nav ul {
	 /* positioning 
        position:relative;
        z-index:1000;*/
}


div nav ul li	{
	float: left;
	list-style: none;
	margin: 10px 10px;

}
div nav ul li a {
	color: #f00;
	text-decoration: none;
	font-size: 20px;
}
div nav ul li ul {
	/*display: none;
    background-color: black;
    min-width: 130px;
    position: absolute;
    z-index: 99999;
    top:38px;
    border-radius: 5px;
    padding: 5px;*/

        background-color: black; 
     	min-width: 130px;
     	border-radius: 5px;
        position:absolute;
       height: 0;
        overflow: hidden;
        top:38px;
		 -webkit-transition: height 1.5s ease-in;
        -moz-transition: height 1.5s ease-in;
        -o-transition: height 1.5s ease-in;
        -ms-transition: height 1.5s ease-in;
        transition: height 1.5s ease-in;

    }
div nav ul li:hover ul {
	height: 130px;

}
div nav ul li ul li {
	float: none;
	text-align: center;
	
}
div nav ul li ul li a {
	padding: 3px;
	display: block;
	background-color: #1c1b1d;
	border-radius: 5px;
}


a:hover {
    background: #000;
    color: #fff;  
   } 
.header-menu {
    color: #000;
    text-transform: none;
    float: left;
    font-size: 20px;
    text-decoration: none;
    top: 40px;
    left: 10px;
    position: absolute;
}
.btn {
	color: rgb(255, 0, 0);
	padding: 5px 25px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}
div article {
	position: absolute;
	padding: 10px;
	background-color: #ded3d38f;
	width: 30%;
	top: 50px;
	left: 50px;
	border: 2px solid red;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	 border-top-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
div article h2 {
	text-align: center;
}
.wrapper {
	position: absolute;
	margin: 0 auto;
	bottom: 30%;
	max-width: 70%;
	left: 50%;
	margin-left: -472px;
}
.block {
	position: relative;
	width: 23%;
	min-height: 300px;
	background-color: #ececec94;
	float: left;
	margin-right: 2%;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}
div p {
	padding: 65px 10px 0px 10px;
}
div div a {
	position: absolute;
	left: 50%;
    margin-left: -77px;
	text-decoration: none;
	font-size: 20px;
	color: rgb(255, 0, 0);
	padding: 20px 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.36) 100%);
}
div section {
	position: absolute;
	margin: 0;
	background-color: #f7f7f7;
	width: 300px;
	height: 300px;
	top: 30%;
	left: 10%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
div section p {
	margin: 0;
	padding:140px 50px;
	font-weight: bolder;
	font-size: 20px;
}
div section:hover {
	background-color: #000;
}
.white {
	color: #f7f7f7;
	font-size: 30px;
	}
.img-top, .img-mid, .img-bot {
	width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    background-position: 50% 50%;
}
.img-top, .img-bot {
	height: 700px;
	background-size: cover; 
}
.img-top {
	background-image: url("img/img1.jpg");
}
.img-mid {
	background-image: url("img/flag.png");
    height: 300px;
    background-size: contain;
}
.img-bot {
	background-image: url("img/img3.png");
}
footer {
	position: relative;
	height: 100px;
	background-color: #000;
}
footer p {
	position: absolute;
	color: #fff;
	left: 5px;
}
footer span {
	position: absolute;
	color: #fff;
	top: 80px;
	right: 10px;
}
